<div>
<div align="center"><h1><%= $player_1.name %> <%= $player_1.hp %>HP VS <%= $player_2.name %> <%= $player_2.hp %>HP</h1></div>
</div>

<div style="float:left;width:45%;" align="center">

<img src="https://previews.123rf.com/images/lenm/lenm1002/lenm100200028/6437447-Boy-Student-Stock-Photo-cartoon.jpg" width="160" height="300">

<p>A newb at Makers Academy, ready with enthusiam and lots of questions for the teacher. Backpack contains packed lunch and a copy of POODR.</p>

  <div align="center">

    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Ask obvious question!" name="attack_style">
    </form>

    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Think!" name="attack_style">
    </form>

    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Daydream!" name="attack_style">
    </form>

    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Turn up late!" name="attack_style">
    </form>

    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Search for answer on Google... but make a typo and end up on an site with some random capybara animal videos on it, then put hand up!" name="attack_style">
    </form>

    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Not submit daily feedback!" name="attack_style">
    </form>

    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Walk out of stand up!" name="attack_style">
    </form>

  </div>

</div>

<div style="float:right;width:45%;" align="center">
<img src="https://files.schuminweb.com/life-and-times/2004/virginia-beach/chicho-blip.png" width="160" height="300">

  <p>Teacher</p>
  <p>Find out more about me <a href="https://www.schuminweb.com/life-and-times/life-2004/virginia-beach-vacation-part-4/">here</a></p>

  <div align="center">
    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Look that up online!" name="attack_style">
    </form>

    <form action="/attack" method="post"style="display: inline-block;"  >
      <input type="submit" value="Answer question!" name="attack_style">
    </form>


    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Sit in front of screen, obscure answer!" name="attack_style">
    </form>


    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Receive ice-cream thrown across room!" name="attack_style">
    </form>

    <form action="/attack" method="post" style="display: inline-block;" >
      <input type="submit" value="Wait... where are you going?" name="attack_style">
    </form>

  </div>

</div>
